/*  ---- COLORS ---- */

/* BACKGROUNDS */

$nav: rgba(7, 54, 100, 1.0);
$blue: rgba(7, 54, 100, 1.0);
$bg-services: rgba(254, 251, 239, 1.0);
$footer: rgba(40, 40, 40, 1.0);

/* TYPOGRAPHY */

$brand: rgba(254, 201, 50, 1.0);
$p: rgba(121, 121, 121, 1.0);
$dark-grey: rgba(39, 39, 39, 1.0);
$grey-54: rgba(54, 54, 54, 1.0);
$link: rgba(111, 111, 111, 1.0);
$services-text: rgba(56, 58, 63, 1.0);

/* BUTTONS */

$button: rgba(250, 201, 50, 1.0);
$hover: rgba(250, 222, 65, 1.0);
$shadow: rgba(0, 0, 0, 0.2);
$btn-text: rgba(39, 39, 39, 1.0);
